<h3>
    Informe os valores
</h3>

<p>
    <label>Quantidade de Meses: </label> <input type="text" name="meses" maxlength="4" [(ngModel)]="cdb.meses">
</p>

<p>
    <label>Valor Inicial: </label> <input type="text" name="valorInicial" maxlength="10" [(ngModel)]="cdb.valorInicial">
</p>

<p>
    <button type="button" (click)="calcularCdb($event)">Calcular CDB</button>
</p>

<p>
    <label *ngIf="(cdb.Mensagem == null || cdb.Mensagem == '') && cdb.ValorBruto > 0">Valor Bruto: {{ cdb.ValorBruto }}</label>
</p>

<p>
    <label *ngIf="(cdb.Mensagem == null || cdb.Mensagem == '') && cdb.ValorLiquido > 0">Valor Líquido: {{ cdb.ValorLiquido }}</label>
</p>

<p>
    <label *ngIf="cdb.Mensagem != null && cdb.Mensagem != ''">Mensagem de Erro: {{ cdb.Mensagem }}</label>
</p>